/3rdparty/
/figures/
/errata.aux
/errata.cls
/errata.log
/errata.out
/errata.tex
/errata.synctex.gz
/.gitmodules
/ch11/.idea/
/ch12/.idea/
/ch12/dense_mono/.idea/
/ch12/dense_mono/cmake-build-debug/

ch11/cmake-build-debug/

ch12/dense_mono/remode_test_data/test_data/

ch3/examples/cmake-build-debug/

ch3/examples/.idea/

ch4/.idea/

ch4/cmake-build-debug/

ch4/example/.idea/

ch4/example/cmake-build-debug/

ch5/imageBasics/.idea/

ch5/imageBasics/cmake-build-debug/

ch5/rgbd/cmake-build-debug/

ch5/rgbd/.idea/

ch5/stereo/.idea/

ch5/stereo/cmake-build-debug/

ch6/.idea/

ch6/cmake-build-debug/

ch7/cmake-build-debug/

ch7/.idea/

ch9/cmake-build-debug/

ch9/.idea/
